#footer-links {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
}

.footer-category h4 {
    margin-bottom: 10px;
    color: #444;
}

.footer-category ul {
    list-style-type: none;
    padding: 0;
}

.footer-category ul li a {
    color: #0077cc;
    text-decoration: none;
}

.footer-category ul li a:hover {
    text-decoration: underline;
}
